body {

    background-image: url(images/background-repeating.jpeg);
    background-repeat: repeat;

}

.content {

    width: 70%;
    margin: auto;

}

h1 {

    font-size: 50px;
    text-align: center;
    border: 5px black solid;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    margin: auto;

}


table, th, td {

    text-align: center;
    padding: 10px;
    width: 50%;

}

th, td {

    
    border: 1px solid black;
    border-radius: 10px;

}

td {

    font-size: 20px;

}

table {

    float: left;
    
}

tr:nth-child(even) {

    background-color: rgb(255, 255, 255);

}

tr:nth-child(odd) {

    background-color: rgb(217, 217, 217);

}

a {

    color: blue;
    font-size: 25px;

}

a:visited {

    color: darkblue;
}

.side-image {

    background-image: url(images/sidebar-image.png);
    border: 1px black solid;
    width: 250px;
    height: 500px;
    float: right;

}

#clock {

    background-color: rgb(255, 0, 0, 0.3);
    width: 300px;
    font-size: 40;
    text-align: center;
    margin: auto;
    border-radius: 100px;

}

.buttonTime {

    text-align: center;

}

#button {

    font-size: 30;

}