h1 {

    font-size: 100;

}

p {

    font-size: large;

}

.home-link {

    display: flex;
    justify-content: center;
    
}

a {


    margin: auto;
    padding: 10px;
    font-size: 30;
    border: 1px solid black;
    background-color: rgb(255, 210, 152);
    color: black;

}

a:hover {

    background-color: rgb(255, 172, 63);
}

h1, p {

    text-align: center;

}

.table-1, .table-2, .table-3, .table-4 {

    width: 80%;
    margin: auto;
    /* margin auto centers the table */

}

.table-1, th, td {

    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    /* border collapse stops the double lines on the tables */

    th {

        width: 200px;
        background-color: lightblue;
        padding: 10px;
        /* padding adds space between the text and the border */

    }

    td {

        padding: 10px;

    }

    tr:nth-child(odd) {
        /* nth-child(odd) makes it so every odd table row has the gray background color */

        background-color: rgb(210, 210, 210);

    }

}

.table-2, .th-2, .td-2 {

    border: 7px solid white;
    border-collapse: collapse;

    th {

        width: 200px;
        background-color: lightblue;
        padding: 10px;
        /* padding adds space between the text and the border */

    }

    td {

        padding: 10px;

    }

    th, td {

        background-color: rgb(255, 198, 100);
    }
}

.table-3, .th-3, .td-3 {

    .th-3, .td-3 {

        border: 2px solid black;
        border-radius: 10px;
        /* border radius makes the corners rounded */
        padding: 10px;

    }

    .th-3 {

        background-color: lightgreen;

    }

    tr:nth-child(odd) {

        background-color: rgb(183, 255, 183);
        height: 100px;

    }

}

.table-in-table {

    border: 1px solid black;
    border-collapse: collapse;
    width: 60%;
    margin: auto;

    th {

        width: 200px;
        padding: 10px;
        /* padding adds space between the text and the border */

    }

    td {

        padding: 10px;

    }

}

.table-4, .th-4, .td-4 {

    border: 1px solid black;
    border-collapse: collapse;

    th {

        width: 200px;
        padding: 10px;
        /* padding adds space between the text and the border */

    }

    td {

        padding: 10px;

    }

    .white-flag {

        background-color: white;

    }

    .red-flag {

        background-color: red;

    }

    .blue-flag {

        background-color: blue;

    }

}