body {

    font: 1.2em / 1.5 sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
    border: 1px solid black;

}


/* Task 1 Original CSS with no flexbox */
.task1Div {

    width: 25%;
    height: 50px;
    border: 2px black solid;
    margin: 5px;

}

/* Task 1 CSS with flexbox integration */
.holdingDivTask1 {

    display: flex;
    justify-content: space-between;

}

/* Task 2 Original CSS with no flexbox */
.task2Div {

    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 94%;
    border: 1px black solid;

}

/* CSS for the text on task 2 */
.task2Text {

    text-align: center;

}

/* Colors set to id for text in task 2 */
#red {

    background-color: red;

}

#green {

    background-color: green;

}

#blue {

    background-color: blue;

}

/* Task 2 CSS with flexbox integration */
.holdingDivTask2 {
    
    display: flex;
    height: 400px;
    align-items: stretch;

}

.task3Div {

    width: 30%;
    height: 100px;
    border: 2px black solid;
    margin: 5px;

}

.holdingDivTask3NoFlex {

    display: flex;
    flex-direction: column;

}