body {

    font: 1.2em / 1.5 sans-serif;

}

.container {

    width: 1000px;
    margin: auto;
    padding: 15px;
    border: 2px black solid;
    border-radius: 20px;

}

/* Task 1 Original CSS with no flexbox */
.task1Div {

    width: 200px;
    height: 50px;
    border: 2px black solid;
    margin: 5px;

}

/* Task 1 CSS with flexbox integration */
.holdingDivTask1 {

    display: flex;
    justify-content: space-between;

}

.task2Div {

    width: 1000px;
    border: 1px black solid;

}

#red {

    background-color: red;

}

#green {

    background-color: green;

}

#blue {

    background-color: blue;

}

.holdingDivTask2 {

    display: flex;
    height: 400px;
    align-items: stretch;

}