body {

    background-color: rgb(0, 125, 106);
    margin: 0;
    padding: 0;

}

.container {

    margin: auto;
    width: 1000px;
    background-color: hsl(130, 100%, 84%);

}

.main-home {

    overflow: hidden;
    animation-name: mainFadeIn;
    animation-duration: 2s;

}

.main {

    overflow: hidden;

}

.image-header {

    background-image: url(images/FivePageHeaderAnimated.png);
    width: 1000px;
    height: 350px;

}

.header-text {

    padding: 80;

}

.h1-image-home {

    font-family: 'Poppins', 'Arial Black', Arial, sans-serif;
    font-weight: 900;
    font-size: 70;
    color: black;
    animation-name: headerProg2;
    animation-duration: 2s;

}

.h1-image {

    font-family: 'Poppins', 'Arial Black', Arial, sans-serif;
    font-weight: 900;
    font-size: 70;
    color: black;

}

.p-image-home {

    font-family: 'Poppins', 'Arial Black', Arial, sans-serif;
    font-weight: 700;
    font-size: 35;
    color: black;
    margin-left: 50px;
    animation-name: headerBenBurke;
    animation-duration: 2s;

}

.p-image {

    font-family: 'Poppins', 'Arial Black', Arial, sans-serif;
    font-weight: 700;
    font-size: 35;
    color: black;
    margin-left: 50px;

}

.index-link-header {

    margin-left: 10%;

}

.header-link {

    color: black;

}

.navdiv {

    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.75);

}

.navbar {

    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: hsl(130, 55%, 56%);
    border: 5px black solid;

}

.navdiv-home {

    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.75);

}

.navbar-home {

    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: hsl(130, 55%, 56%);
    border: 5px black solid;

}

.navbar li a {

    display: block;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-decoration: underline;
    font-size: 30px;

}

.navbar li a:hover {

    background-color: hsl(130, 43%, 46%);

}

.left-side {

    float: left;
    width: 67%;
    padding: 10px;

}

.weight-lift-img {

    background-image: url(images/weight-lifting.jpeg);
    width: 300;
    height: 300;
    margin-left: 10%;
}

.right-side-static {

    float: right;
    width: 27%;
    padding: 10px;
    background-image: url(../images/sidebar-image.png);
    height: 500px;
    background-repeat: no-repeat;

}

.right-side-home {

    float: right;
    width: 27%;
    padding: 10px;
    background-image: url(../images/sidebar-image.png);
    height: 500px;
    background-repeat: no-repeat;

}

.right-side-about {

    float: right;
    width: 27%;
    padding: 10px;
    background-image: url(images/About-me-sidebar.jpg);
    height: 500px;
    background-repeat: no-repeat;

}

.right-side-likes {

    float: right;
    width: 27%;
    padding: 10px;
    background-image: url(images/likes-sidebar.jpg);
    height: 500px;
    background-repeat: no-repeat;

}

.right-side-dislikes {

    float: right;
    width: 27%;
    padding: 10px;
    background-color: hsl(130, 100%, 84%);
    background-image: url(images/dislikes-sidebar.jpg);
    height: 500px;
    background-repeat: no-repeat;

}

.right-side-contact {

    float: right;
    width: 27%;
    padding: 10px;
    background-color: hsl(130, 100%, 84%);
    background-image: url(images/contact-me-sidebar.jpg);
    height: 500px;
    background-repeat: no-repeat;

}

.schedule,
th,
td {

    border: 1px black solid;
    border-collapse: collapse;


}

.clearfix {

    clear: both;

}

.footer {

    background-color: hsl(130, 100%, 84%);
    color: black;
    font-size: 16px;
    clear: both;

    width: 100%;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

}

.footer-left {

    text-align: left;

}

.footer-right {

    text-align: right;

}

.table-schedule {

    margin-left: 10%;

}

.schedule,
th,
td {

    border: 5px hsl(130, 100%, 84%) solid;

}

th,
td {

    padding: 10px;

}

.flex-lunch-table {

    padding: 0;
    border: 0px;

}

.lunch-flex-table,
th,
td {

    margin: auto;

}

.green-day {

    background-color: rgb(0, 196, 0);

}

.white-day {

    background-color: white;

}

.israel {

    background-image: url(images/happy-merchant.jpg);
    width: 300px;
    height: 300px;
    margin-left: 10%;

}

.first-row-color {

    background-color: hsl(130, 50%, 53%);

}

.light-grey-row {

    background-color: rgb(180, 180, 180);

}

.grey-row {

    background-color: grey;

}

.blank-box {

    color: hsl(130, 100%, 84%);
    background-color: hsl(130, 100%, 84%);

}

.block-1-2-4-height {

    height: 90px;

}

.submit-button {

    margin-left: 300px;

}

@keyframes headerProg2 {

    0% {

        transform: translateX(-100%);

    }

    100% {

        transform: translateX(0%);

    }

}

@keyframes headerBenBurke {

    0% {

        transform: translateX(100%);

    }

    100% {

        transform: translateX(0%);

    }

}

@keyframes mainFadeIn {

    0% {

        opacity: 0;

    }

    100% {

        opacity: 1;

    }

}

@keyframes navigationSlideUp {

    0% {

        transform: translateY(100%);

    }

    100% {

        transform: translateY(0%);

    }

}